* {
  margin: 0;
  padding: 0;
}

.para-voce-container {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 4;
}
.para-voce-container .img-and-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.para-voce-container .img-and-text h2 {
  margin-bottom: 6rem;
}
.para-voce-container .img-and-text h2::before {
  content: "";
  width: 90px;
  height: 2px;
  display: block;
  margin: 10px auto;
  background-color: #8600c9;
}
.para-voce-container .img-and-text h2::after {
  content: "";
  width: 100px;
  height: 2px;
  display: block;
  margin: 10px auto;
  background-color: #8600c9;
}
.para-voce-container .para-voce-icons {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
}
.para-voce-container .para-voce-icons .icon-and-text i {
  color: #8600c9;
  font-size: 5rem;
  transition: all 1s;
}
.para-voce-container .para-voce-icons .icon-and-text p {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  transition: all 1s;
  font-weight: bold;
}
.para-voce-container .para-voce-icons .icon-and-text:hover i {
  font-size: 6rem;
}
.para-voce-container .para-voce-icons .icon-and-text:hover p {
  font-size: 1.2rem;
}