@import "../../../styles/SCSS/var.scss";

* {
    margin: 0;
    padding: 0;
}

.para-voce-container {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 4;
    .img-and-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        h2 {
            margin-bottom: 6rem;
            &::before {
                content: "";
                width: 90px;
                height: 2px;
                display: block;
                margin: 10px auto;
                background-color: $purple-main;
            }
            &::after {
                content: "";
                width: 100px;
                height: 2px;
                display: block;
                margin: 10px auto;
                background-color: $purple-main;
            }
        }
    }
    .para-voce-icons {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "logos1 nubank logos2"
            "logos1 nubank logos2";
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .upper-icons {
            grid-area: logos1;
        }
        .lower-icons {
            grid-area: logos2;
        }
        .logo-nubank {
            opacity: 0.25;
            margin-bottom: 4rem;
            grid-area: nubank;
            align-self: center;
            justify-self: center;
        }
        .icon-and-text {
            text-align: center;
            i {
                color: $purple-main;
                font-size: 5rem;
                transition: all 1s;
            }
            p {
                width: 80%;
                margin: 0 auto;
                padding: 1.5rem;
                transition: all 1s;
                font-weight: bold;
            }
        }
    }
}
