* {
  margin: 0;
  padding: 0;
}

.para-voce-container {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 4;
}
.para-voce-container .img-and-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.para-voce-container .img-and-text h2 {
  margin-bottom: 6rem;
}
.para-voce-container .img-and-text h2::before {
  content: "";
  width: 90px;
  height: 2px;
  display: block;
  margin: 10px auto;
  background-color: #8600c9;
}
.para-voce-container .img-and-text h2::after {
  content: "";
  width: 100px;
  height: 2px;
  display: block;
  margin: 10px auto;
  background-color: #8600c9;
}
.para-voce-container .para-voce-icons {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logos1 nubank logos2" "logos1 nubank logos2";
  gap: 1rem;
}
.para-voce-container .para-voce-icons .logo-nubank {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  opacity: 0.25;
  margin-bottom: 4rem;
  grid-area: nubank;
  align-self: center;
  justify-self: center;
}
.para-voce-container .para-voce-icons .icon-and-text i {
  color: #8600c9;
  font-size: 5rem;
  transition: all 1s;
}
.para-voce-container .para-voce-icons .icon-and-text p {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  transition: all 1s;
  font-weight: bold;
}