@import "../../../styles/SCSS/var.scss";

.account-section-container {
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.content-and-image {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image-woman {
    img {
        width: 600px;
        height: 600px;
    }
}
