@import "../../../styles/SCSS/var.scss";

.final-footer {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background: $purple-main;
    span {
        color: $white-main;
    }
}
