.main-container {
  overflow-x: hidden;
}

.balls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  width: 100%;
  height: 90vh;
  position: relative;
}
.balls .ball {
  border-radius: 50%;
  width: 53.25rem;
  height: 53.25rem;
}
.balls .ball.gray-ball {
  position: absolute;
  background: linear-gradient(268.75deg, #dadada -66.5%, #f9f9f9 108.54%);
  left: -26.75rem;
  top: 2rem;
  animation: aparecendo-gray 0.75s;
}
.balls .ball.purple-ball {
  position: absolute;
  background: linear-gradient(268.75deg, #8a05be -66.5%, #f9f9f9 108.54%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  right: -26.75rem;
  top: 5rem;
  animation: aparecendo-purple 1.3s;
}
.balls .div-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.balls .welcome-section {
  width: 550px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  gap: 1.5rem;
  animation: apareceWelcome 2s;
}
.balls .welcome-section h1 {
  font-size: 3.5rem;
  color: #8600c9;
}
.balls .welcome-section h3 {
  font-weight: 400;
  color: #292929;
}

@keyframes aparecendo-gray {
  0% {
    opacity: 0;
    left: -53.25rem;
  }
  100% {
    left: -26.75rem;
    opacity: 1;
  }
}
@keyframes aparecendo-purple {
  0% {
    opacity: 0;
    right: -53.25rem;
  }
  100% {
    right: -26.75rem;
    opacity: 1;
  }
}
@keyframes apareceWelcome {
  0% {
    margin-top: 18rem;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}